/*Service styles*/
/*Colors*/
*,
*:after,
*:before{
  box-sizing: border-box;
}

.inline-block,
.logo,
.phone,
.consultant,
.consultant__logo,
.consultant__description{
  display: inline-block;
  vertical-align: top;
}

.content-wrapper,
.menu__list,
.slider__buttons{
  width: 960px;
  margin: 0 auto;
}

.clearfix:after{
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*Blocks styles*/
.html{
  font-size: 13px;
}

.page{
  line-height: 1.42;
  font-family: "Roboto", sans-serif;
  color: #606060;
}

.page__header{
  background: url(../img/top_city.png) no-repeat center top;
  padding-top: 20px;
}

.h1{
  color: #3b3b3b;
  font-size: 2rem;
}

.link{
  color: #3b66a3;
}

.phone{
  padding: 10px 5px;
  margin-left: 40px;
  border-left: 2px solid #c5c5c5;
}
.phone__description{
  font-size: 0.85rem;
  color: #797979;
  font-weight: 600;
}
.phone__number{
  font-size: 1.54rem;
  color: #484848;
  font-weight: 600;
}

.consultant{
  margin-left: 40px;
}

.consultant__description{
  vertical-align: middle;
  color: #2c932c;
  font-size: 1.23rem;
  font-weight: 600;
}

/*Common Menu Block*/
.menu__list{
  padding: 0;
}

/*Top menu*/
.menu_top{
  background-color: #52575f;
  border-bottom: 4px solid #767e89;
  margin-top: 25px;
}

.menu__list_top{
  display: table;
  margin-bottom: -4px;
}

.menu__item_top{
  display: table-cell;
  border-right: 1px solid #707070;
}
.menu__item_top:last-child{
  border-right: none;
}

.menu__link_top{
  padding: 15px 30px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
}
.menu__link_top:hover{
  background-color: #5c636d;
}
.menu__link_top-new-building{
  border-bottom: 4px solid #4eb9e5;
}
.menu__link_top-new-building:hover{
  background-color: #4eb9e5;
}
.menu__link_top-resale-building{
  border-bottom: 4px solid #f2b237;
}
.menu__link_top-resale-building:hover{
  background-color: #f2b237;
}
.menu__link_top-rent-building{
  border-bottom: 4px solid #eede58;
}
.menu__link_top-rent-building:hover{
  background-color: #eede58;
}
.menu__link_top-cottage-building{
  border-bottom: 4px solid #9cd35a;
}
.menu__link_top-cottage-building:hover{
  background-color: #9cd35a;
}

/*Menu Middle*/
.menu_middle{
  margin: 40px 0;
}

.menu__item_middle{
  display: inline-block;
  list-style-type: none;
  position: relative;
  width: 24%;
  height: 215px;
}

.menu__item-mask{
  position: absolute;
  height: 200px;
  width: 200px;
  top: -9px;
  border-radius: 98px;
  overflow: hidden;
  left: 15px;
}
.menu__item-mask_new-building{
  border: 4px solid #4eb9e5;
}
.menu__item-mask_resale-building{
  border: 4px solid #f2b237;
}
.menu__item-mask_rent-building{
  border: 4px solid #eede58;
}
.menu__item-mask_cottage-building{
  border: 4px solid #9cd35a;
}

.menu__item-description_middle{
  padding: 10px;
  color: #ffffff;
  font-size: 1.23rem;
  background-color: #52575f;
  max-width: 160px;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  position: absolute;
  top: 145px;
  left: 38px;
}

.menu__item-description_new-building:hover{
  background-color: #4eb9e5;
}

.menu__item-description_rent-building:hover{
  background-color: #f2b237;
}

.menu__item-description_resale-building:hover{
  background-color: #eede58;
}

.menu__item-description_cottage-building:hover{
  background-color: #9cd35a;
}

.menu__link_middle{
  display: block;
  width: 100%;
  height: 160px;
}
.menu__link_middle-new-building{
  background: url(../img/new_house_icon.png) no-repeat center center;
}
.menu__link_middle-resale-building{
  background: url(../img/resale_icon.png) no-repeat center center;
}
.menu__link_middle-rent-building{
  background: url(../img/rent_icon.png) no-repeat center center;
}
.menu__link_middle-cottage-building{
  background: url(../img/cottage_icon.png) no-repeat center center;
}

/*Slider*/
.slider{
  border-top: 1px solid #ffffff;
  position: relative;
}
.slider__list{
  z-index: -1;
  position: relative;
}
.slider__item{
  height: 410px;
  overflow: hidden;
  width: 100%;
}
.slider__pagination{
  position: absolute;
  bottom: 25px;
  right: 50%;
}
.slider__pagination > span{
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  z-index: 1;
  background: #2c932c;
  border: 1px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
.slider__pagination > span.cycle-pager-active{
  background: #ffffff;
}
.slider__buttons{
  position: relative;
  bottom: 240px;
  z-index: 1;
}
.slider__button_prev,
.slider__button_next{
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  width: 45px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 2px 14px 7px;
}
.slider__button_prev{
  left: 0%;
}
.slider__button_next{
  right: 0%;
}
.slider__bottomline{
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  background: #ffffff;
}
.slider .cycle-overlay{
  position: absolute;
  bottom: 50px;
  right: 50%;
  margin-right: 60px;
  z-index: 101;
  color: #ffffff;
  padding: 25px 30px;
  max-width: 430px;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider .cycle-overlay div{
  display: inline-block;
}
.slider__item-name{
  font-size: 2.92rem;
}
.slider__item-description{
  font-size: 1.84rem;
}

.gallery_centered{
  margin: 0 auto;
  width: 960px;
}

.gallery__wrapper{
  background: url(../img/offers_bg.png);
  position: relative;
}

.gallery__topline{
  height: 3px;
  position: absolute;
  width: 100%;
  top: 2px;
  background: #ffffff;
}

.gallery__title{
  border-left: 2px solid #9cd35a;
  color: #3b3b3b;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-left: 5px;
}
.gallery__title_best-offers{
  font-size: 1.7rem;
  text-transform: uppercase;
}
.gallery__title_special-offers{
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.gallery__best-offers,
.gallery__special-offers{
  display: inline-block;
  vertical-align: top;
}

.gallery__special-offers{
  max-width: 225px;
}

.gallery__best-offers{
  max-width: 730px;
}

.gallery__item{
  display: inline-block;
  max-width: 220px;
  background-color: #ffffff;
  padding: 12px;
  margin-right: 20px;
}
.gallery__item:nth-child(3n+3){
  margin-right: 0;
}
