/*Service & headings styles*/
/*Colors*/
.h1{
  color: #3b3b3b;
  font-weight: 500;
  font-size: 2rem;
}

.h2{
  color: #3b3b3b;
  font-weight: 500;
  font-size: 1.7rem;
}

.h3{
  color: #3b3b3b;
  font-weight: 500;
  font-size: 1.23rem;
}

*,
*:after,
*:before{
  box-sizing: border-box;
}

.inline-block,
.logo,
.phone,
.consultant,
.consultant__logo,
.consultant__description,
.copyright,
.soclinks{
  display: inline-block;
  vertical-align: top;
}

.content-wrapper,
.menu__list,
.slider__buttons{
  width: 960px;
  margin: 0 auto;
}

.clearfix:after{
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*Blocks styles*/
.html{
  font-size: 13px;
}

.page{
  line-height: 1.42;
  font-family: "Roboto", sans-serif;
  color: #606060;
}
.page__header{
  background: url(../img/top_city.png) no-repeat center top;
  padding-top: 20px;
}
.page__footer{
  background: url(../img/footer_bg.jpg);
}

.link{
  color: #3b66a3;
}

.phone{
  padding: 10px 5px;
  margin-left: 40px;
  border-left: 2px solid #c5c5c5;
}
.phone__description{
  font-size: 0.85rem;
  color: #797979;
  font-weight: 600;
}
.phone__number{
  font-size: 1.54rem;
  color: #484848;
  font-weight: 600;
}

.consultant{
  margin-left: 40px;
}

.consultant__description{
  vertical-align: middle;
  color: #2c932c;
  font-size: 1.23rem;
  font-weight: 600;
}

/*Common Menu Block*/
.menu__list{
  padding: 0;
}

/*Top menu*/
.menu_top{
  background-color: #52575f;
  border-bottom: 4px solid #767e89;
  margin-top: 25px;
}

.menu__list_top{
  display: table;
  margin-bottom: -4px;
}

.menu__item_top{
  display: table-cell;
  border-right: 1px solid #707070;
}
.menu__item_top:last-child{
  border-right: none;
}

.menu__link_top{
  padding: 15px 30px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
}
.menu__link_top:hover{
  background-color: #5c636d;
}
.menu__link_top-new-building{
  border-bottom: 4px solid #4eb9e5;
}
.menu__link_top-new-building:hover{
  background-color: #4eb9e5;
}
.menu__link_top-resale-building{
  border-bottom: 4px solid #f2b237;
}
.menu__link_top-resale-building:hover{
  background-color: #f2b237;
}
.menu__link_top-rent-building{
  border-bottom: 4px solid #eede58;
}
.menu__link_top-rent-building:hover{
  background-color: #eede58;
}
.menu__link_top-cottage-building{
  border-bottom: 4px solid #9cd35a;
}
.menu__link_top-cottage-building:hover{
  background-color: #9cd35a;
}

/*Menu Middle*/
.menu_middle{
  margin: 40px 0;
}

.menu__item_middle{
  display: inline-block;
  list-style-type: none;
  position: relative;
  width: 24%;
  height: 215px;
}

.menu__item-mask{
  position: absolute;
  height: 200px;
  width: 200px;
  top: -9px;
  border-radius: 98px;
  overflow: hidden;
  left: 15px;
}
.menu__item-mask_new-building{
  border: 4px solid #4eb9e5;
}
.menu__item-mask_resale-building{
  border: 4px solid #f2b237;
}
.menu__item-mask_rent-building{
  border: 4px solid #eede58;
}
.menu__item-mask_cottage-building{
  border: 4px solid #9cd35a;
}

.menu__item-description_middle{
  padding: 10px;
  color: #ffffff;
  font-size: 1.23rem;
  background-color: #52575f;
  max-width: 160px;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  position: absolute;
  top: 145px;
  left: 38px;
}

.menu__item-description_new-building:hover{
  background-color: #4eb9e5;
}

.menu__item-description_rent-building:hover{
  background-color: #f2b237;
}

.menu__item-description_resale-building:hover{
  background-color: #eede58;
}

.menu__item-description_cottage-building:hover{
  background-color: #9cd35a;
}

.menu__link_middle{
  display: block;
  width: 100%;
  height: 160px;
}
.menu__link_middle-new-building{
  background: url(../img/new_house_icon.png) no-repeat center center;
}
.menu__link_middle-resale-building{
  background: url(../img/resale_icon.png) no-repeat center center;
}
.menu__link_middle-rent-building{
  background: url(../img/rent_icon.png) no-repeat center center;
}
.menu__link_middle-cottage-building{
  background: url(../img/cottage_icon.png) no-repeat center center;
}

/*Slider*/
.slider{
  border-top: 1px solid #ffffff;
  position: relative;
}
.slider__list{
  z-index: -1;
  position: relative;
}
.slider__item{
  height: 410px;
  overflow: hidden;
  width: 100%;
}
.slider__pagination{
  position: absolute;
  bottom: 25px;
  right: 50%;
}
.slider__pagination > span{
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  z-index: 1;
  background: #2c932c;
  border: 1px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
.slider__pagination > span.cycle-pager-active{
  background: #ffffff;
}
.slider__buttons{
  position: relative;
  bottom: 240px;
  z-index: 1;
}
.slider__button_prev,
.slider__button_next{
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  width: 45px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 2px 14px 7px;
}
.slider__button_prev{
  left: 0%;
}
.slider__button_next{
  right: 0%;
}
.slider__bottomline{
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  background: #ffffff;
}
.slider .cycle-overlay{
  position: absolute;
  bottom: 50px;
  right: 50%;
  margin-right: 60px;
  z-index: 101;
  color: #ffffff;
  padding: 25px 30px;
  max-width: 430px;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider .cycle-overlay div{
  display: inline-block;
}
.slider__item-name{
  font-size: 2.92rem;
}
.slider__item-description{
  font-size: 1.84rem;
}

.gallery{
  padding-top: 40px;
  padding-bottom: 30px;
}
.gallery_centered{
  margin: 0 auto;
  width: 960px;
}
.gallery__wrapper{
  background: url(../img/offers_bg.png);
  position: relative;
}
.gallery__topline{
  height: 3px;
  position: absolute;
  width: 100%;
  top: 2px;
  background: #ffffff;
}
.gallery__title{
  border-left: 3px solid #2c932c;
  color: #3b3b3b;
  margin-bottom: 25px;
  padding-left: 5px;
}
.gallery__title_best-offers{
  font-size: 1.7rem;
  text-transform: uppercase;
}
.gallery__title_special-offers{
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.gallery__best-offers,
.gallery__special-offers{
  display: inline-block;
  vertical-align: top;
}
.gallery__special-offers{
  max-width: 225px;
}
.gallery__best-offers{
  max-width: 710px;
  margin-right: 10px;
}
.gallery__item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 224px;
  background-color: #ffffff;
  padding: 12px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid #e7e7e7;
}
.gallery__item:nth-child(3n+3){
  margin-right: 0;
}
.gallery__item_special-offers{
  background-color: #fff7cc;
  border: 2px solid #ffffff;
}
.gallery__item:hover{
  border: 2px solid #f4bb4f;
}
.gallery__item-cost{
  position: absolute;
  width: 100%;
  bottom: 80px;
  left: 0px;
  font-size: 1.23rem;
  color: #3b3b3b;
  text-align: center;
  font-weight: 500;
  background: url(../img/cost_icon.png) no-repeat 20px 2px;
}
.gallery__item-logo{
  padding-bottom: 20px;
}
.gallery__item-link_logo{
  display: block;
  max-width: 200px;
  max-height: 130px;
  overflow: hidden;
}
.gallery__item-link_detail{
  position: absolute;
  bottom: 20px;
  left: 48px;
  display: block;
  max-width: 130px;
  padding: 12px 24px;
  background-color: #2c932c;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.07rem;
}

.features{
  padding-top: 30px;
  padding-bottom: 20px;
}
.features_centered{
  margin: 0 auto;
  width: 960px;
}
.features__wrapper{
  background: url(../img/features_bg.png);
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}
.features__title{
  font-weight: 500;
  font-size: 1.7rem;
  border-left: 3px solid #2c932c;
  padding-left: 5px;
}
.features__list{
  margin-top: 25px;
}
.features__item{
  display: inline-block;
  width: 24%;
  vertical-align: top;
  color: #606060;
  font-size: 1.23rem;
  font-weight: 500;
  height: 65px;
  padding-left: 60px;
  padding-top: 10px;
}
.features__item_feature-1{
  background: url(../img/feature_1_icon.png) no-repeat 0 0;
}
.features__item_feature-2{
  background: url(../img/feature_2_icon.png) no-repeat 0 0;
}
.features__item_feature-3{
  background: url(../img/feature_3_icon.png) no-repeat 0 0;
}
.features__item_feature-4{
  background: url(../img/feature_4_icon.png) no-repeat 0 0;
}

.about{
  padding: 30px 0;
}
.about_centered{
  margin: 0 auto;
  width: 960px;
}
.about__wrapper{
  background: url(../img/offers_bg.png);
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}
.about__title{
  border-left: 3px solid #2c932c;
  padding-left: 5px;
  margin-bottom: 30px;
}
.about__content{
  padding-right: 10px;
}
.about__content_inlined{
  display: inline-block;
  vertical-align: top;
  max-width: 720px;
}

.employer_about{
  vertical-align: top;
  max-width: 226px;
  float: right;
  background-color: #ffffff;
  padding: 20px 25px;
  margin-top: -40px;
  box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #e7e7e7;
}

.employer__title{
  font-size: 1.23rem;
  font-weight: 500;
  text-align: center;
}

.employer__photo-mask{
  text-align: center;
  max-width: 180px;
  max-height: 120px;
  margin: 15px 0;
  overflow: hidden;
}

.employer__name{
  font-size: 1.15rem;
  font-weight: 500;
  color: #2c932c;
}

.employer__post{
  line-height: 2.5;
}

.employer__email{
  text-decoration: none;
}

.news_about{
  padding-top: 10px;
}

.news_centered{
  margin: 0 auto;
  width: 960px;
}

.news__link-archive{
  font-size: 1.07rem;
  float: right;
}

.news__title{
  border-left: 3px solid #2c932c;
  padding-left: 5px;
}

.news__item{
  display: inline-block;
  vertical-align: top;
  max-width: 49%;
}
.news__item:first-child{
  padding-right: 15px;
}

.news__item-title{
  margin: 0;
}

.news__item-date{
  color: #767e89;
  margin: 5px 0;
}

.news__item-link_detail{
  float: right;
}

.news__item-description{
  padding-left: 200px;
}

.news__item-link_logo{
  display: block;
  float: left;
  margin-right: 15px;
  padding: 0;
  box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #ffffff;
  overflow: hidden;
  max-width: 185px;
  max-height: 130px;
}

.copyright__text{
  color: #ffffff;
}

@font-face{
  font-family: "socicon";
  src: url("../fonts/socicon.eot"), url("../fonts/socicon.eot?#iefix") format("embedded-opentype"), url("../fonts/socicon.woff") format("woff"), url("../fonts/socicon.ttf") format("truetype"), url("../fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before{
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before{
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-twitter:before{
  content: "\e040";
}

.socicon-skype:before{
  content: "\e046";
}

.socicon-instagram:before{
  content: "\e057";
}

.socicon-facebook:before{
  content: "\e041";
}

.socicon-vkontakte:before{
  content: "\e01a";
}

.soclinks__item{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 115px;
  padding: 4px 7px 0px;
  font-size: 1.5rem;
  margin-right: 5px;
}
