head
	meta(charset='UTF-8')
	title Mattis
	link(rel='shortcut icon', href='/favicon.ico')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='css/normalize.css')
	link(rel='stylesheet', href='css/main.css')
	// jquery
	script(src='js/jquery-2.1.4.min.js')
	// Slider
	script(src='js/jquery.cycle2.min.js')
	script(src='js/jquery.cycle2.center.min.js')
	script(src='js/jquery.cycle2.caption2.min.js')
	// Main JS
	script(src='js/main.js')