include mixins/bemto
doctype html
html(lang='ru').html
	include ../common.blocks/head.jade

	+b('body').page
		+e('header').header
			+b.grid__wrapper
				include ../common.blocks/logo/logo
				include ../common.blocks/phone/phone
				include ../common.blocks/consultant/consultant
			include ../common.blocks/menu/top/menu
		include ../common.blocks/slider/slider
		.grid__wrapper
			include ../common.blocks/menu/middle/menu
		.gallery__wrapper
			.gallery__topline
			include ../common.blocks/gallery/gallery
		.features__wrapper
			include ../common.blocks/features/features
		.about__wrapper
			include ../common.blocks/about/about
		+e('footer').footer
			+b.grid__wrapper
				+b.grid__row
					+b.grid__col-4
						+b.copyright
							+e.text_light
								|© 2015 Маттис — агентство недвижимости
						include ../common.blocks/soclinks/soclinks
						+b.copyright
							+e.text_gray Разработка сайта
							+e('img').image(src='/img/logo_webdom.png')
					+b.grid__col-8
						include ../common.blocks/menu/bottom/menu
						+b('a').button_bid._inlined._bottom._floated(href="") Оставить заявку