include mixins/bemto
doctype html
html(lang='ru').html
	include ../common.blocks/head.jade

	+b('body').page
		//- +e('header').header
		//- 	+b.content-wrapper
		//- 		include ../common.blocks/logo/logo
		//- 		include ../common.blocks/phone/phone
		//- 		include ../common.blocks/consultant/consultant
		//- 	include ../common.blocks/menu/top/menu
		//- include ../common.blocks/slider/slider
		//- section
		//- 	include ../common.blocks/menu/middle/menu
		//- .gallery__wrapper
		//- 	.gallery__topline
		//- 	include ../common.blocks/gallery/gallery
		//- .features__wrapper
		//- 	include ../common.blocks/features/features
		//- .about__wrapper
		//- 	include ../common.blocks/about/about
		+e('footer').footer
			+b.content-wrapper
				include ../common.blocks/copyright/copyright
				include ../common.blocks/soclinks/soclinks