doctype html
html(lang='ru').html
  head
    meta(charset='UTF-8')
    title Mattis
    link(rel='shortcut icon', href='/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    // jquery
    script(src='js/jquery-2.1.4.min.js')
    // Slider
    script(src='js/jquery.cycle2.min.js')
    script(src='js/jquery.cycle2.center.min.js')
    script(src='js/jquery.cycle2.caption2.min.js')
    // Main JS
    script(src='js/main.js')
  body.page
    header.page-header
      .content-wrapper
        .logo
          img.logo__image(src='img/logo.png')
        .phone
          .phone__description Телефон в Санкт-Петербурге
          .phone__number 8 (812) 111-77-55
        .phone
          .phone__description Бесплатный звонок по России
          .phone__number 8 (800) 333-55-77
        .consultant
          .consultant__logo
            img.consultant__logo-image(src='img/consultant_icon.png', alt='')
          .consultant__description
            | Консультация
            br
            |  специалиста
      nav.menu.menu_top
        ul.menu-list.menu-list_top
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top(href='') Главная
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top(href='') О Компании
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top.link_menu-new-building(href='') Новостройки
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top.link_menu-resale-building(href='') Вторичная
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top.link_menu-rent-building(href='') Аренда
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top.link_menu-cottage-building(href='') Загородная
          li.menu-list__item.menu-list__item_top
            a.link.menu-list__link_top(href='') Контакты
    section.slider
      #js-slider.slider-list
        .slider-list__item(data-cycle-desc="<span class='slider-list__item-name'>Квартиры</span><span class='slider-list__item-description'> в новостройках во всех районах Петербурга</span>", style='background: url(img/slide1.jpg) no-repeat center center; background-size: cover;')
        .slider-list__item(data-cycle-desc="<span class='slider-list__item-name'>Квартиры</span><span class='slider-list__item-description'> в новостройках во всех районах Петербурга</span>", style='background: url(img/slide2.jpg) no-repeat center center; background-size: cover;')
        .slider-list__item(data-cycle-desc="<span class='slider-list__item-name'>Квартиры</span><span class='slider-list__item-description'> в новостройках во всех районах Петербурга</span>", style='background: url(img/slide3.jpg) no-repeat center center; background-size: cover;')
        .cycle-overlay
      .slider__pagination
      .slider-buttons
        span.slider-buttons__prev <
        span.slider-buttons__next >
      .slider__bottomline
    section
      nav.menu.menu-middle
        ul.menu-list.menu-list_middle
          li.menu-list__item.menu-list__item_menu-middle
            a.link.link_menu-middle(href='') Новостройки Петербурга
          li.menu-list__item.menu-list__item_menu-middle
            a.link.link_menu-middle(href='') Вторичная недвижимость
          li.menu-list__item.menu-list__item_menu-middle
            a.link.link_menu-middle(href='') Аренда квартир и комнат
          li.menu-list__item.menu-list__item_menu-middle
            a.link.link_menu-middle(href='') Коттеджные поселки
