+b.pagination_margined
	+e('span').border
	+e('ul').list
		+e('li').item
			+e('a').item-link.link(href='') &lt;
		+e('li').item
			+e('a').item-link_active.link(href='') 1
		+e('li').item
			+e('a').item-link.link(href='') 2						
		+e('li').item
			+e('a').item-link.link(href='') 3
		+e('li').item
			+e('a').item-link.link(href='') &gt;
	+e('span').border