+b.soclinks
  +e('a').item.socicon.socicon-twitter.link(href="#")
  +e('a').item.socicon.socicon-skype.link(href="#")
  +e('a').item.socicon.socicon-instagram.link(href="#")
  +e('a').item.socicon.socicon-facebook.link(href="#")
  +e('a').item.socicon.socicon-vkontakte.link(href="#")
  


