+b('form').form_phone
	+e.col._left._bordered
		+e('h3').title_right Возникли вопросы?
		+e.description_right Оставьте свой номер телефона и мы свяжемся с Вами
	+e.col._right._bordered
		+e('input').input_phone-number(type='text' placeholder='Номер телефона')
		+e('button').button.button_bid.button Позвоните мне