+b('nav').menu_bottom
  +e('ul').list_bottom
    +e('li').item_bottom._bordered
      +b('a').link.menu__link_bottom(href='') Новостройки
    +e('li').item_bottom
      +b('a').link.menu__link_bottom(href='') Вторичная      
    +e('li').item_bottom._bordered
      +b('a').link.menu__link_bottom(href='') Аренда
    +e('li').item_bottom
      +b('a').link.menu__link_bottom(href='') Загородная
    +e('li').item_bottom._bordered
      +b('a').link.menu__link_bottom(href='') О компании
    +e('li').item_bottom
      +b('a').link.menu__link_bottom(href='') Контакты
    +e('li').item_bottom._bordered
      +b('a').link.menu__link_bottom(href='') Новости
    +e('li').item_bottom
      +b('a').link.menu__link_bottom(href='') Карта сайта