+b('section').features_centered
	+e.title Почему выбирают нас
	+e.list
		+e.item_feature-1 Более 10 
			br
			| лет на рынке
		+e.item_feature-2 Более 1000
			br
			| объектов
		+e.item_feature-3 Индивидуальные
			br
			| скидки
		+e.item_feature-4 Лучшие
			br
			| специалисты
