+b('nav').menu_middle
	+e('ul').list_middle
		+e('li').item_middle
			+e.item-mask_new-building
				+b('a').link.menu__link_middle.menu__link_middle-new-building(href='') 
			+b('a').link.menu__item-description_middle.menu__item-description_new-building(href='') Новостройки Петербурга
		+e('li').item_middle
			+e.item-mask_resale-building
				+b('a').link.menu__link_middle.menu__link_middle-resale-building(href='')
			+b('a').link.menu__item-description_middle.menu__item-description_resale-building(href='') Вторичная недвижимость
		+e('li').item_middle
			+e.item-mask_rent-building
				+b('a').link.menu__link_middle.menu__link_middle-rent-building(href='')
			+b('a').link.menu__item-description_middle.menu__item-description_rent-building(href='') Аренда квартир и комнат
		+e('li').item_middle
			+e.item-mask_cottage-building
				+b('a').link.menu__link_middle.menu__link_middle-cottage-building(href='')
			+b('a').link.menu__item-description_middle.menu__item-description_cottage-building(href='') Коттеджные поселки
