+b.employer._floated._about
	+e.title Сотрудник месяца
	+e.photo-mask
		+e(img).photo(src='/img/employee_photo.jpg')
	+e.name Лисова Людмила Александровна
	+e.post Консультант по ипотеке
	+e.phone 8 (812) 666-74-43
	+e(a).email.link(href="mailto:ipoteka@mattis.spb.ru") ipoteka@mattis.spb.ru