+b('nav').menu_top
  +b('ul').menu-list_top
    +e('li').item_top
      +b('a').link.menu-list__link_top(href='') Главная
    +e('li').item_top
      +b('a').link.menu-list__link_top(href='') О компании
    +e('li').item_top
      +b('a').link.menu-list__link_top.menu-list__link_new-building(href='') Новостройки
    +e('li').item_top
      +b('a').link.menu-list__link_top.menu-list__link_resale-building(href='') Вторичная
    +e('li').item_top
      +b('a').link.menu-list__link_top.menu-list__link_rent-building(href='') Аренда
    +e('li').item_top
      +b('a').link.menu-list__link_top.menu-list__link_cottage-building(href='') Загородная
    +e('li').item_top
      +b('a').link.menu-list__link_top(href='') Контакты
