+b('nav').menu_top
  +e('ul').list_top
    +e('li').item_top
      +b('a').link.menu__link_top(href='') Главная
    +e('li').item_top
      +b('a').link.menu__link_top(href='') О компании
    +e('li').item_top
      +b('a').link.menu__link_top.menu__link_top-new-building(href='') Новостройки
    +e('li').item_top
      +b('a').link.menu__link_top.menu__link_top-resale-building(href='') Вторичная
    +e('li').item_top
      +b('a').link.menu__link_top.menu__link_top-rent-building(href='') Аренда
    +e('li').item_top
      +b('a').link.menu__link_top.menu__link_top-cottage-building(href='') Загородная
    +e('li').item_top
      +b('a').link.menu__link_top(href='') Контакты
