+b.news_centered._about
	+e('h2').title.h2 Новости
		+e('a').link.news__link-archive.link(href="#") Архив новостей
	+e.list
		+e.item
			+e('a').item-link_logo.link(href="#")
				+e('img').item-photo-image(src='/img/news_photo.jpg')
			+b('h3').h3.news__item-title Выставка квартир
			+e.item-date 10 ноября 2016
			+e.item-description 14 ноября в ТРК «Лето» на Пулковском шоссе прошла выставка шаговой доступности «Магазин квартир»  — 10 ноября 2015 года
			+b('a').link.news__item-link_detail(href="#") читать дальше

		+e.item
			+e('a').item-link_logo.link(href="#")
				+e('img').item-photo-image(src='/img/news_photo.jpg')
			+b('h3').h3.news__item-title Выставка  &laquo;Ярмарка недвижимости&raquo;
			+e.item-date 10 ноября 2016
			+e.item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. In perspiciatis impedit expedita, vero aut reiciendis molestias soluta cum voluptate obcaecati ipsum, harum pariatur, a quaerat commodi tenetur inventore animi quia.
			+b('a').link.news__item-link_detail(href="#") читать дальше		