.about
	padding: 30px 0
	&_centered
		margin: 0 auto
		width: 960px
	&__wrapper
		background: url(../img/offers_bg.png)
		position: relative		
		margin-top: 4px
		margin-bottom: 4px
	&__title
		border-left: 3px solid $green
		padding-left: 5px		
		margin-bottom:  30px

	&__content
		padding-right: 10px
		&_inlined
			display: inline-block
			vertical-align: top
			max-width: 720px