+e.special-offers
  +e.title_special-offers Спецпредложения
  +e.list
    +e.item_special-offers
      +e('a').item-link_logo.link(href="#")
        +e('img').item-logo(src='/img/house_photo.jpg')
      +e.item-description 3-комн. квартира, метро Спортивная, Чкаловская
      +e.item-cost 7 #{n++}00 000 руб.
      +e('a').item-link_detail.link(href="#") Подробнее
      
    +e.item_special-offers
      +e('a').item-link_logo.link(href="#")
        +e('img').item-logo(src='/img/house_photo.jpg')
      +e.item-description 3-комн. квартира, метро Гражданский проспект, Проспект просвещения
      +e.item-cost 7 #{n++}00 000 руб.
      +e('a').item-link_detail.link(href="#") Подробнее