+b.map
	+e('h2').title.h2 Объект на карте
	+e.wrapper_bordered
		script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=57puPg-MB0F1c27unZvkCTdv7h89NLDR&width=100%&height=523&lang=ru_RU&sourceType=constructor")
