nav.menu.menu-middle
  ul.menu-list.menu-list_middle
    li.menu-list__item.menu-list__item_menu-middle
      a.link.link_menu-middle(href='') Новостройки Петербурга
    li.menu-list__item.menu-list__item_menu-middle
      a.link.link_menu-middle(href='') Вторичная недвижимость
    li.menu-list__item.menu-list__item_menu-middle
      a.link.link_menu-middle(href='') Аренда квартир и комнат
    li.menu-list__item.menu-list__item_menu-middle
      a.link.link_menu-middle(href='') Коттеджные поселки
